/* Design Color Tokens  ·  source: assets/Color.zip → Hex Code.tokens.json */
:root{
  --neutral-black: #030213;
  --neutral-gray-600: #3D3E40;
  --neutral-gray-200: #D7DADF;
  --neutral-gray-100: #E5E8ED;
  --neutral-gray-50: #ECEFF4;
  --neutral-white: #FBFCFD;
  --blue-50: #F1F7FD;
  --blue-100: #DEEDFC;
  --blue-200: #B7D8FA;
  --blue-300: #7CB8F8;
  --blue-400: #3B96F7;
  --blue-500: #0774E9;
  --blue-600: #0554A8;
  --blue-700: #074383;
  --blue-800: #083463;
  --blue-900: #082849;
  --blue-950: #06192D;
  --indigo-100: #E1D5F2;
  --indigo-200: #C29FFA;
  --indigo-300: #A370F7;
  --indigo-400: #8540F5;
  --indigo-500: #6610F2;
  --indigo-600: #4514B8;
  --indigo-700: #310D83;
  --indigo-800: #290661;
  --indigo-900: #140330;
  --purple-100: #F1E7FF;
  --purple-200: #D6C6ED;
  --purple-300: #A98EDA;
  --purple-400: #8C68CD;
  --purple-500: #6F42C1;
  --purple-600: #59359A;
  --purple-700: #432874;
  --purple-800: #2C1A4D;
  --purple-900: #160D27;
  --pink-100: #F7D6E6;
  --pink-200: #EFADCE;
  --pink-300: #E685B5;
  --pink-400: #DE5C9D;
  --pink-500: #D63384;
  --pink-600: #AB296A;
  --pink-700: #801F4F;
  --pink-800: #561435;
  --pink-900: #2B0A1A;
  --red-100: #F8D7DA;
  --red-200: #F1AEB5;
  --red-300: #EA868F;
  --red-400: #E35D6A;
  --red-500: #DC3545;
  --red-600: #B02A37;
  --red-700: #842029;
  --red-800: #58151C;
  --red-900: #2C0B0E;
  --orange-100: #FFE5D0;
  --orange-200: #FECBA1;
  --orange-300: #FEB272;
  --orange-400: #FD9843;
  --orange-500: #FD7E14;
  --orange-600: #CA6510;
  --orange-700: #984C0C;
  --orange-800: #653208;
  --orange-900: #331904;
  --yellow-100: #FFF3CD;
  --yellow-200: #FFE69C;
  --yellow-300: #FFDA6A;
  --yellow-400: #FFCD39;
  --yellow-500: #FFC107;
  --yellow-600: #CC9A06;
  --yellow-700: #997404;
  --yellow-800: #664D03;
  --yellow-900: #332701;
  --green-100: #D1E7DD;
  --green-200: #A3CFBB;
  --green-300: #75B798;
  --green-400: #479F76;
  --green-500: #198754;
  --green-600: #146C43;
  --green-700: #0F5132;
  --green-800: #0A3622;
  --green-900: #051B11;
  --teal-100: #D2F4EA;
  --teal-200: #A6E9D5;
  --teal-300: #79DFC1;
  --teal-400: #4DD4AC;
  --teal-500: #20C997;
  --teal-600: #1AA179;
  --teal-700: #13795B;
  --teal-800: #0D503C;
  --teal-900: #06281E;
  --cyan-100: #CFF4FC;
  --cyan-200: #9EEAF9;
  --cyan-300: #6EDFF6;
  --cyan-400: #3DD5F3;
  --cyan-500: #0DCAF0;
  --cyan-600: #0AA2C0;
  --cyan-700: #087990;
  --cyan-800: #055160;
  --cyan-900: #032830;
  --primary-50: #F1F7FD;
  --primary-100: #DEEDFC;
  --primary-200: #B7D8FA;
  --primary-300: #7CB8F8;
  --primary-400: #3B96F7;
  --primary-500: #0774E9;
  --primary-600: #0554A8;
  --primary-700: #074383;
  --primary-800: #083463;
  --primary-900: #082849;
  --primary-950: #06192D;
}